*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
}

h1,h2,h3,h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* font-family: "Open Sans", sans-serif; */
/* font-family: "EB Garamond", serif; */

.container{
    max-width: 1280px;
    margin: auto;
}

.landing-page{
    height: 908px;
    width: 100%;
    background: url(../img/back.png) no-repeat center/100%;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.logo-text{
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 6%;
    line-height: 110%;
    color: #F1CDB3;
    margin-top: 60px;
}
.logo-descript{
    font-size: 13px;
    letter-spacing: 10%;
    color:#fff;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 76px;
}
.menu-link{
    font-size: 15px;
    color: #CDCDCD;
    line-height: 160%;
    letter-spacing: 0px;
}

.menu-item.active{
    padding-bottom: 2px;
    border-bottom: 2px solid #F1CDB3;
}
.main-page{
    display: flex;
    justify-content: space-between;
}
.main-name{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.the-name{
    font-size: 55px;
    font-weight: 300;
    letter-spacing: 0%;
    line-height: 120%;
    color: #fff;
}
.the-text{
    font-size: 15px;
    color: #CDCDCD;
    line-height: 160%;
    letter-spacing: 0px;
}
.main-button{
    height: 52px;
    width: 207px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    letter-spacing: 6%;
    line-height: 130%;
    color: #292929;
}
.main-dog-pic{
    margin-top: 60px;
}
.shelter-wrap{
    height: 588px;
    display: flex;
    flex-direction: row;
    gap: 140px;
    justify-content: center;
    align-items: center;
}
.shelter-heading{
    font-size: 35px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 6%;
    color: #545454;
    margin-bottom: 35px;
}
.shelter-descipt{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0px;
}
.house-seek{
    background: #F6F6F6;
    height: 877px;
    width: 100%;
}
.house-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.house-name{
    font-size: 35px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 6%;
    color: #545454;
    text-align: center;
    margin-bottom: 60px;
}
.house-cards{
    display: flex;
    flex-direction: row;
    gap: 90px;
}
.pet-card{
    height: 435px;
    width: 270px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pet-name{
    font-size: 20px;
    font-weight: 300;
    color: #545454;
    letter-spacing: 6%;
    margin-top: 30px;
}
.learn-more{
    height: 52px;
    width: 187px;
    background: #fafafa00;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-top: 30px
}
.learn-more{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 300;
    color: #292929;
    line-height: 130%;
    letter-spacing: 6%;
}

.house-button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 300;
    color: #292929;
    line-height: 130%;
    letter-spacing: 6%;
}
.house-button{
    height: 52px;
    width: 261px;
    background: #F1CDB3;
    border-radius: 100px;
    margin-top: 60px;
}
.toys{
    height: 670px;
    width: 100%;
}
.toys-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
.toys-name{
    font-size: 35px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 6%;
    color: #545454;
    text-align: center;
    margin-bottom: 60px;
}
.toys-products{
    display: flex;
    flex-direction: column;
    gap: 120px;
    align-items: center;
}
.first-row{
    display: flex;
    flex-direction: row;
    gap: 160px;
}
.second-row{
    display: flex;
    flex-direction: row;
    gap: 160px;
}
.pet-food{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.product-name{
    font-size: 20px;
    font-weight: 300;
    color:#545454;
    letter-spacing: 6%;
    line-height: 115%;
}
.donation{
    width: 100%;
    height: 462px;
    background: #F6F6F6;
}
.don-wrap{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}
.don-heading{
    font-size: 35px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 6%;
    color: #545454;
    margin-bottom: 20px;
}
.don-sub-head{
    font-size: 15px;
    font-weight: 300;
    line-height: 110%;
    letter-spacing: 6%;
    color: #545454;
    margin-bottom: 20px;
}
.phone{
    height: 43px;
    width: 349px;
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.number{
    font-size: 20px;
    font-weight: 300;
    color:#545454;
    letter-spacing: 6%;
    line-height: 115%;
}
.don-descript{
    font-size: 12px;
    font-weight: 300;
    color:#B2B2B2;
    letter-spacing: 0;
    line-height: 18px;
    font-style: italic;
}
.footer{
    height: 350px;
    width: 100%;
    background: url(../img/footer-gradient-background.png) no-repeat center/100%;
}
.footer-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 56px;
}
.footer-heading{
    font-size: 35px;
    font-weight: 200;
    line-height: 130%;
    letter-spacing: 6%;
    color: #fff;
    margin-bottom: 40px;
}
.column-one{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mail{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-bottom: 45px;
    align-items: center;
}
.phone-number{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.column-two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.column-wrap{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.location{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.footer-loc{
    font-size: 18px;
    font-weight: 100;
    color:#F1CDB3;
    letter-spacing: 6%;
    line-height: 115%;
}
.footer-phone{
    font-size: 18px;
    font-weight: 100;
    color:#F1CDB3;
    letter-spacing: 6%;
    line-height: 115%;
}
.footer-mail{
    font-size: 18px;
    font-weight: 100;
    color:#F1CDB3;
    letter-spacing: 6%;
    line-height: 115%;
}
.loc-img{
    width: 22px;
    height: 32px;
}
.doggo-img{
    width: 284px;
    height: 294px;
}
